<div class="d-flex justify-content-center align-items-center">
  <div class="row align-items-center">
    <div
      class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center text-center"
    >
      <h1>
        Frontend Developer passionate about creating modern, responsive, and
        interactive web applications. Skilled in Angular, CSS animations, and
        gradient-driven designs to deliver polished, recruiter-friendly
        interfaces that work seamlessly across all devices.
      </h1>

      <!-- <h3>
        Angular , Javascript , Typescript , Bootstrap , Angular Material , HTML5
        , CSS3
    </h3> -->

    <h3>{{skillsName}}</h3>

    </div>

    <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
      <img [src]="imgUrl" alt="" class="img-fluid" />
    </div>

        <button type="button" class="btn btn-secondary">Show More</button>
    <button type="button" class="btn btn-secondary mt-2">Hide</button>


  </div>
</div>






<p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Show More
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
  </div>
</div>

    <p>
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Show More
      </a>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
      </div>
    </div>
