
.custom-navbar {
  background: linear-gradient(90deg, #0d6efd, #6610f2);
  padding: 0.8rem 1rem;
}

.navbar-brand {
  color: #fff !important;
  font-size: clamp(1.2rem, 2vw, 1.5rem); 
  letter-spacing: 1px;
  font-weight: bold;
}


.nav-link {
  color: #f8f9fa !important;
  margin-right: 20px;
  transition: color 0.3s ease, transform 0.2s ease;
}

.nav-link:hover {
  color: #ffc107 !important;  
  transform: scale(1.1);  
}

.nav-link.active {
  border-bottom: 2px solid #ffc107;
}

@media (max-width: 992px) {
  .navbar-collapse {
    background: linear-gradient(90deg, #0d6efd, #6610f2); /* same bg */
    padding: 1rem;
  }

  .nav-link {
    margin: 0.5rem 0;      
    text-align: center;  
    display: block;        
  }
}
