<div class="bg-secondary text-center shadow rounded projectbackground">
  <h1 class="text-white fw-bold">Laptop Accessories</h1>
  <div class="d-flex container-fluid">
    <div class="col-md-3" *ngFor="let product of storeProduct">
      <div class="card" style="width: 18rem">
        <img class="card-img-top" [src]="product.image" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">{{ product.product }}</h5>
          <p class="card-text fw-bold">Prices Range:{{ product.price }}</p>
          <div>
            <button
              class="me-3 bg-secondary text-white rounded-pill"
              (click)="addToCartProduct()"
            >
              Add To Cart
            </button>
            <p *ngIf="showCart">
              <button (click)="IncrementItem()">+</button> Total Item Is :
              {{ count }} <button (click)="decrementItem()">-</button>
            </p>
            <button class="bg-secondary text-white rounded-pill mt-1">
              Buy Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="bg-secondary text-center shadow rounded projectbackground2">
  <h1 class="text-white fw-bold">Mobile Accessories</h1>
  <div class="d-flex flex-wrap justify-content-center container-fluid">
    <div class="col-md-3" *ngFor="let mobile of mobileProduct">
      <div class="card" style="width: 18rem">
        
        <!-- condition check -->
        <ng-container *ngIf="mobile.image.endsWith('.mp4'); else imageTemplate">
          <video class="card-img-top" controls autoplay muted loop>
            <source [src]="mobile.image" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </ng-container>

        <!-- else part -->
        <ng-template #imageTemplate>
          <img class="card-img-top" [src]="mobile.image" alt="Card image cap" />
        </ng-template>

        <div class="card-body">
          <h5 class="card-title">{{ mobile.product }}</h5>
          <p class="card-text fw-bold">Prices Range: {{ mobile.price }}</p>

          <div>
            <button
              class="me-3 bg-secondary text-white rounded-pill"
              (click)="addToCartProduct()"
            >
              Add To Cart
            </button>

            <p *ngIf="showCart">
              <button (click)="IncrementItem()">+</button>
              Total Item Is : {{ count }}
              <button (click)="decrementItem()">-</button>
            </p>

            <button class="bg-secondary text-white rounded-pill mt-1">
              Buy Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

