<div
  class="d-flex align-items-center justify-content-between container hero-section mt-0.5"
>
  <div class="row">
    <div class="col-12 col-md-6 text-white text-center mt-5 shadow">
      <h1>{{ NameTitle }}</h1>
      <h3>FrontEnd Developer</h3>
      <p>
        I worked as a Frontend Developer at Trangile Services Private Limited.
        During this time, I developed and maintained responsive web applications
        using Angular and TypeScript, ensuring smooth user experiences. I also
        collaborated with the backend team for API integration and focused on
        writing clean, maintainable code.
      </p>
      <button
        type="button"
        class="btn btn-dark me-4 shadow"
        (click)="downloadResume()"
      >
        Download CV
      </button>
      <button type="button" class="btn btn-dark shadow">Contact Me</button>
      <!-- <h1>Changes The Things</h1> -->
      <div class="mt-2 fs-5">
        <a
          *ngFor="let item of socialLinks"
          href="{{ item.link }}"
          target="_blank"
        >
          <h1>Hello</h1>
          <i [class]="item.icon"></i>
        </a>
      </div>
    </div>

    <div class="col-12 col-md-6 shadow rounded mt-5">
      <img
        src="https://img.freepik.com/free-vector/hand-drawn-web-developers_23-2148819604.jpg?semt=ais_incoming&w=740&q=80"
        alt=""
      />
    </div>
  </div>
</div>
<app-about [skillsName]="skills"></app-about>
