<div class="container hero-section mt-0.5">
  <div class="row">
    <div class="col-6 text-white text-center mt-5 shadow">
      <h1>{{NameTitle}}</h1>
      <h3>FrontEnd Developer</h3>
      <p>
        I worked as a Frontend Developer at Trangile Services Private Limited.
        During this time, I developed and maintained responsive web applications
        using Angular and TypeScript, ensuring smooth user experiences. I also
        collaborated with the backend team for API integration and focused on
        writing clean, maintainable code.
      </p>
      <button type="button" class="btn btn-dark me-4 shadow" (click)="downloadResume()">Download CV</button>
      <button type="button" class="btn btn-dark shadow">Contact Me</button>

      <!-- use for this code i apply ngFor so its important -->
      <!-- <div class="mt-2 fs-5">
      <a href="https://www.linkedin.com/in/md-meraj-75a97520a/" target="_blank">
      <i class="bi bi-linkedin me-5 text-white"></i>
      </a>
      <a href="https://github.com/meraj-developer">
      <i class="bi bi-github me-5 text-white"></i>
      </a>

      <a href="https://github.com/meraj-developer">
      <i class="bi bi-git me-5 text-white"></i>
      </a>

      <a href="https://x.com/">
      <i class="bi bi-twitter text-white"></i>
      </a>
      </div> -->

      
      <div class="mt-2 fs-5">
      <a *ngFor="let item of socialLinks" href="{{item.link}}" target="_blank">
        <i [class]="item.icon"></i>
      </a>
      </div>
    </div>

    <div class="col-6 shadow rounded">
      <img
        src="https://img.freepik.com/free-vector/hand-drawn-web-developers_23-2148819604.jpg?semt=ais_incoming&w=740&q=80"
        alt=""
      />
    </div>
  </div>
</div>
